<section class="mt-5 py-5">
    <div class="container py-5">
        <h1 class="text-primary my-3">Test Subscription</h1>
        <p class="text-light fw-bolder">Subscribe for only 15$</p>
        <button class="btn btn-outline-primary" (click)="makePayment()">Pay</button>
    </div>
    <!-- <div *ngIf="failure" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
        <p>Some Error is taken place inside the payment</p>
    </div>
    <div *ngIf="success" class="alert alert-success mt-2 fw-bolder bg-transparent border-success">
        <p>Your Payment is complete successfully</p>
    </div> -->

</section>