<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="rgb(255, 255, 123)" type="timer" [fullScreen]="true"></ngx-spinner>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>


<div class="d-flex justify-content-center mt-5 container">
    <div class="mt-5 w-75">
        <h1 class="my-3 text-primary">
            Reset password
        </h1>

        <form [formGroup]="resetForm" (ngSubmit)="submitResetForm(resetForm)">
            <div class="form-floating mb-3">
                <input [ngClass]="{'is-valid': resetForm.get('email')?.errors==null}" formControlName="email" type="email" class="form-control bg-transparent border-primary text-primary" id="email" placeholder="name@example.com">
                <label class="text-primary" for="email">Email</label>
                <div *ngIf="resetForm.get('email')?.errors!=null && resetForm.get('email')?.touched" class="alert alert-danger mt-2 fw-bolder bg-transparent border-danger">
                    <p *ngIf="resetForm.get('email')?.errors?.required">Email is required</p>
                    <p *ngIf="resetForm.get('email')?.errors?.email">Invalid email</p>
                </div>
            </div>
            <button [disabled]="resetForm.invalid" type="submit" class="btn btn-outline-primary">Reset</button>
            <i (click)="cancle()" class="btn btn-outline-danger ms-3">Cancle</i>
        </form>
    </div>
</div>