@import "../../styles.scss";

.note{
    width: 200px;
    height: 200px;
    background-color: $third-color;
    border-radius: 4px;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.dropdown-item{
    color: $main-color !important;
    transition: background-color .3s;
}

.dropdown-item:hover{
    background-color: $third-color !important;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: $third-color;
}

.modal-content{
    background-color: $third-color;
}

.modal-body{
    padding: 0 !important;
}

.modal-dialog .form-control{
    background-color: $third-color;
    border: 0;
}

.modal-dialog .form-control:focus{
    border-color: unset;
    box-shadow: unset;
}

.modal-header{
    border-bottom: unset;
}

.modal-footer{
    border-top: unset;
}

.fa-thumbtack{
    transform: rotate(45deg);
}

.fa-thumbtack:hover{
    color: rgb(189, 0, 0) !important;
}
